<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springacg.mapper.ArticleMapper">
    <select id="getArticleList" resultMap="articleList">
        select * from article
        <if test="idList != null and idList.toString().length > 0">
            where menus in
            <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
    <resultMap id="articleList" type="Article">
        <result property="name" column="name"></result>
        <result property="cover" column="cover"></result>
        <result property="content" column="content"></result>
        <result property="menus" column="menus"></result>
        <result property="tags" column="tags"></result>
        <result property="downloads" column="downloads"></result>
        <result property="file" column="file"></result>
        <result property="status" column="status"></result>
        <result property="createTime" column="create_time"></result>

    </resultMap>
    <insert id="addArticle">
        insert into article
        (name,cover,content,tags,menus,downloads,status, file, create_time)
        VALUES (#{name}, #{cover}, #{content}, #{tags}, #{menus}, #{downloads}, #{status}, #{file}, #{createTime})
    </insert>
</mapper>