<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springacg.mapper.ArticleMapper">
    <insert id="addArticle">
        insert into article
        (name,cover,content,tags,menus,downloads,status, files, create_time)
        VALUES (#{name}, #{cover}, #{content}, #{tags}, #{menus}, #{downloads}, #{files}, #{status}, #{createTime})
    </insert>
</mapper>