<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springacg.mapper.FileUploadMapper">
    <insert id="fileUpload" useGeneratedKeys="true" keyProperty="id">
        insert into files
            (file_name, file_fullname, format, create_time)
        values (#{fileName}, #{fileFullName}, #{format}, #{createTime})
    </insert>
</mapper>